.fade-in {
  animation: fade-in 1s ease 0s 1 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out {
  animation: fade-out 1s ease 0s 1 normal forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
